<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OrderSystemMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2570D46DFADA0A17D4FDBA92E91AFD51473D191A</string>
				<key>dateExpires</key>
				<string>28/06/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R4Y74WZU5G.Shuai-Yuan.OrderSystemMobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R4Y74WZU5G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>OrderSystemMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d36b8e8d-d3d3-4df9-82ec-c2493449e290</string>
				<key>dateExpires</key>
				<string>28/06/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Shuai-Yuan.OrderSystemMobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R4Y74WZU5G</string>
				<key>name</key>
				<string>Shuai Yuan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
